Dear Carlos:<br><br>
Congratulations! You're invited to sell at Zocoshop. In order to complete your registration, please click on the link below.<br><br>
<center>
	<a href="#" target="_blank" style="font-size:15px;font-weight:bold;color:#FFF;background-color:#A7A9AE;text-decoration:none;border-radius:3px;padding:14px 7px 14px 7px;width:210px;max-width:210px;margin:6px auto;display:block;text-align:center;font-family:proxima_nova,'Open Sans','lucida grande','Segoe UI',arial,verdana,'lucida sans unicode',tahoma,sans-serif;">Complete registration</a>
</center>
<br>We appreciate your business!<br><br>
- The Zocoshop team