Dear Fernando: <br><br>
You're correctly set up your account and you're ready to sell. This is your login information: <br><br>
<table cellspacing="0" cellpadding="5" border="0" align="center" style="border:1px #4d4d4d solid;border-radius:4px;">
	<tr height="20">
		<td align="right" width="120" style="max-width:120px;color:#A7A9AE">Store Name:</td>
		<td width="120" style="max-width:120px;">Fher Store</td>
	</tr>
	<tr height="20">
		<td align="right" style="max-width:120px;color:#A7A9AE">Username:</td>
		<td style="max-width:120px;">@fherstore</td>
	</tr>
</table>
<br>We appreciate your business!<br><br>
- The Zocoshop Team