Dear Fernando: <br><br>
This is the shipping information you provided: <br><br>
<table cellspacing="0" cellpadding="0" border="0" align="center" style="border:1px #4d4d4d solid;border-radius:4px;font-size:12px;">
	<tr>
		<td height="10" colspan="2"></td>
	</tr>
	<tr height="15">
		<td align="right" width="130" style="max-width:130px;padding-right:5px;color:#757575;font-weight:bold;">Name:</td>
		<td width="150" style="max-width:150px;">Fernando Juarez</td>
	</tr>
	<tr height="15">
		<td align="right" width="130" style="max-width:130px;padding-right:5px;color:#757575;font-weight:bold;">Shipping Address:</td>
		<td width="150" style="max-width:150px;">5133 Discovery Ave</td>
	</tr>
	<tr height="15">
		<td align="right" width="130" style="max-width:130px;padding-right:5px;"></td>
		<td width="150" style="max-width:150px;">San Jose, CA</td>
	</tr>
	<tr height="15">
		<td align="right" width="130" style="max-width:130px;padding-right:5px;"></td>
		<td width="150" style="max-width:150px;">95111</td>
	</tr>
	<tr height="15">
		<td align="right" width="130" style="max-width:130px;padding-right:5px;"></td>
		<td width="150" style="max-width:150px;">United States</td>
	</tr>
	<tr height="15">
		<td align="right" width="130" style="max-width:130px;padding-right:5px;color:#757575;font-weight:bold;">Phone Number</td>
		<td width="150" style="max-width:150px;">(468) 456-6576</td>
	</tr>
	<tr height="15">
		<td align="right" width="130" style="max-width:130px;padding-right:5px;line-height:18px;color:#757575;font-weight:bold;" valign="top">Delivery Instructions:</td>
		<td width="150" style="max-width:150px;line-height:18px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>
	</tr>
	<tr>
		<td height="10" colspan="2"></td>
	</tr>
</table>
<br><br>
- The Zocoshop Team