Dear Fernando: <br><br>
This is the billing information you provided: <br><br>
<table cellspacing="0" cellpadding="0" border="0" align="center" style="border:1px #fff solid;border-radius:4px;font-size:12px;margin-bottom:20px;;">
	<tr>
		<td height="10" colspan="2"></td>
	</tr>
	<tr height="15">
		<td align="right" width="120" style="max-width:120px;padding-right:5px;">Card Name:</td>
		<td width="150" style="max-width:120px;">Fernando Juarez</td>
	</tr>
	<tr height="15">
		<td align="right" style="max-width:120px;padding-right:5px;">Card Number:</td>
		<td width="150" style="max-width:150px;">XXXX-XXXX-XXXX-0254</td>
	</tr>
	<tr height="15">
		<td align="right" style="max-width:120px;padding-right:5px;">Card Type:</td>
		<td width="150" style="max-width:150px;">VISA</td>
	</tr>
	<tr height="15">
		<td align="right" style="max-width:120px;padding-right:5px;">Expiration Date:</td>
		<td width="150" style="max-width:120px;">09/17</td>
	</tr>
	<tr>
		<td height="10" colspan="2"></td>
	</tr>
</table>
<br><br>
- The Zocoshop Team