Dear Carlos: <br><br>
This is a confirmation of your recent username change. <br><br>
Your new username is:
<center>
  <span style="font-size:15px;font-weight:bold;color:#000;padding:14px 7px 14px 7px;width:210px;max-width:210px;margin:6px auto;display:block;text-align:center;font-family:proxima_nova,'Open Sans','lucida grande','Segoe UI',arial,verdana,'lucida sans unicode',tahoma,sans-serif;">@username</span>
</center> 
<br><br>
- The Zocoshop Team.