<table cellspacing="0" cellpadding="5" border="0" align="center">
	<tr>
		<td align="center" style="font-size:36px;color:#757575;">Welcome</td>
	</tr>
	<tr>
		<td align="center" style="font-weight:bold;font-size:20px;">Fernando</td>
	</tr>
</table>
<br>
<table cellspacing="0" cellpadding="5" border="0" align="center">
	<tr>
		<td align="center" style="font-size:18px;color:#757575;">Your account is ready. <br>Your login information is:</td>
	</tr>
</table>
 <br>
<table cellspacing="0" cellpadding="5" border="0" align="center">
	<tr height="18">
		<td align="center" width="150" style="color:#A7A9AE;font-size:18px;">username:</td>
	</tr>
	<tr>
		<td align="center" width="150" style="color:#4d4d4d;font-size:18px;font-weight:bold;">@fher</td>
	</tr>
	<tr>
		<td align="center" width="150" style="color:#A7A9AE;font-size:18px;">email:</td>
	</tr>
	<tr>
		<td align="center" width="150" style="color:#4d4d4d;font-size:18px;font-weight:bold;">fernando@zoco.net</td>
	</tr>
</table>
<br>
<table cellspacing="0" cellpadding="5" border="0" align="center">
	<tr>
		<td align="center" style="font-size:18px;color:#757575;">Login and complete your <br><span style="color:#4d4d4d;font-weight:bold;">Payment &amp; Shipping</span> <br> information</td>
	</tr>
</table>