Dear Fernando, <br><br>
We received a password recovery request for the account: <br><br>
<span style="font-size:15px;font-weight:bold;color:#000;margin:6px auto;display:block;text-align:center;font-family:proxima_nova,'Open Sans','lucida grande','Segoe UI',arial,verdana,'lucida sans unicode',tahoma,sans-serif;">@username</span>
<br> Please click on the link below to complete the process. <br><br>
<center>
	<a href="#" target="_blank" style="font-size:15px;font-weight:bold;color:#FFF;background-color:#757575;text-decoration:none;border-radius:3px;padding:14px 7px 14px 7px;width:210px;max-width:210px;margin:6px auto;display:block;text-align:center;font-family:proxima_nova,'Open Sans','lucida grande','Segoe UI',arial,verdana,'lucida sans unicode',tahoma,sans-serif;">Reset password</a>
</center>
<br><br>If you didn’t sent this request, just ignore this message. If you have not logged in recently and you think someone may have accessed your account, we recommend you to reset your password inmediately. <br><br>
- The Zocoshop Team