Dear Fernando, <br><br>
Your product is ready to pick up.<br>
<table cellpadding="5" cellspacing="0" border="0" width="80%" align="center" style="font-size:13px;">
	<tr>
		<td colspan="2" height="20"></td>
	</tr>
	<tr>
		<td colspan="2" align="center" style="font-size:18px;">Product Details</td>
	</tr>
	<tr>
		<td width="100" align="center">
			<img src="#" width="100" height="150">
		</td>
		<td valign="middle">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td width="80" valign="top">Item:</td>
					<td style="line-height:20px;">Multicolor Velt</td>
				</tr>
				<tr>
					<td width="80" valign="top">Merchant:</td>
					<td>Fher Store</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" height="20"></td>
	</tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="80%" align="center">
	<tr>
		<td>Sub-total</td>
		<td align="right">$ 25.00</td>
	</tr>
	<tr>
		<td>Shipping</td>
		<td align="right">$ 0.00</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr style="height:0;border-bottom:1px solid #fff;border-top:none;">
		</td>
	</tr>
	<tr>
		<td>TOTAL</td>
		<td align="right">$ 25.00</td>
	</tr>
</table>
<br><br>
- The Zocoshop Team